@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap');
*:not(ol){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --background: #F6FFF8;
    --main: #eaf4f4e3;
    --second: #CCE3DE;
    --text: #000000;
    --secondary-text:#57575797;
}
body{
    width: calc(100% - 0px);
    background-color: var(--background);
}

/*_____________________________ general settings _____________________________*/
.global-paragraph{
    width: 25vw;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}
.gloval-image{
    width: 300px;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.412) 0px 4px 16px, rgba(17, 17, 26, 0.365) 0px 8px 24px, rgba(17, 17, 26, 0.453) 0px 16px 56px;
    transition: calc(1s);
}
.gloval-image:hover{
    transform: scale(1.008);
}
header{
    width: 98%;
    margin: 1%;
    padding: 1% 11%;
    z-index: 1;
    position: sticky;
    top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: var(--main);
}
nav{
    padding: 0.5%;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    margin: 0 8px;
}
.li-nav a {
    position: relative;
}
.li-nav a span:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
    background-color: var(--text);
}

.li-nav a:hover span:after {
    width: 100%;
}
a{
    color: var(--text);
}
.logo{
    width: 40px;
    cursor: pointer;
}
.a-logo{
    margin: 0;
    padding: 0;
    display: flex;
}
main{
    padding: 0.5% 1%;
    text-align: center;
}
.text-main{
    margin: 0.4% 0;
    letter-spacing: 1px;
    font-family: 'Cormorant', serif;
}
footer{
    padding: 1.5% 1%;
    text-align: center;
    background-color: var(--main);
}
.paragraph-footer{
    font-size: 14px;
    color: var(--secondary-text);
}
/*________________________________ title _______________________________ */
.title{
    display: none;
}
/*_____________________________ home content _____________________________*/
.content-Home{
    padding: 1px;
}
.banner{
    width: 100%;
    height: 400px;
    background-image: url(images/imagebanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.div-container-home{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction-home{
    margin: 2%;
}
.image-1{
    margin: 2%;
}

/*_____________________________ about content _____________________________ */
.content-about{
    padding: 1px 24%;
}
.tarjeta{
    width: 100%;
    margin: 1.5% 0;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:
    radial-gradient(100% 100% at 100% 100%, #0000 46%,rgba(163, 194, 177, 0.09) 47% 53%,#0000 54%) 32px 32px,
    radial-gradient(100% 100% at 0 0, #0000 46%,rgba(163, 194, 177, 0.09) 47% 53%,#0000 54%) 32px 32px,
    radial-gradient(100% 100%, #0000 22%, rgba(163, 194, 177, 0.09) 23% 29%, #0000 30% 34%, rgba(163, 194, 177, 0.09) 35% 41%, #0000 42%)
    rgba(204, 227, 222, 0.63);
background-size: 64px 64px;


    border-radius: 20px;
}
.image-tarjeta{
    width: 300px;
    border-radius: 15px;
    height: 350px;
    object-fit: cover;
}
.paragraph-tarjeta{
    margin: 8%;
}

/*_____________________________ contact section _____________________________*/
.contact-content{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-5{
    width: 65%;
    height: 65vh;
    object-fit: cover;
}
.text-contact{
    width: 40%;
    margin: 4% 0 3% 0;
}
.container-comunicacion{
    width: 100%;
    padding: 1px 25%;
    display: flex;
    justify-content: space-between;
}
.comuncacion{
    width: 230px;
    margin: 1%;
    padding: 1% 1.4%;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    background-color: var(--second);
}
/*_____________________________ services content _____________________________ */
.table-section{
    padding: 3% 0 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes{
    width: 12vw;
    height: 10vh;
    margin: 1px;
    border-radius: 5PX;
    text-align: center;
    background:
    radial-gradient(100% 100% at 100% 100%, #0000 46%,rgba(163, 194, 177, 0.09) 47% 53%,#0000 54%) 32px 32px,
    radial-gradient(100% 100% at 0 0, #0000 46%,rgba(163, 194, 177, 0.09) 47% 53%,#0000 54%) 32px 32px,
    radial-gradient(100% 100%, #0000 22%, rgba(163, 194, 177, 0.09) 23% 29%, #0000 30% 34%, rgba(163, 194, 177, 0.09) 35% 41%, #0000 42%)
    rgba(204, 227, 222, 0.63);
background-size: 64px 64px;
}

/*_____________________________ rating content _____________________________ */
.rating-content{
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta-rating{
    width: 40vw;
    display: flex;
    margin: 0.5%;
    border-radius: 15px;
    background:
    radial-gradient(100% 100% at 100% 100%, #0000 46%,rgba(163, 194, 177, 0.09) 47% 53%,#0000 54%) 32px 32px,
    radial-gradient(100% 100% at 0 0, #0000 46%,rgba(163, 194, 177, 0.09) 47% 53%,#0000 54%) 32px 32px,
    radial-gradient(100% 100%, #0000 22%, rgba(163, 194, 177, 0.09) 23% 29%, #0000 30% 34%, rgba(163, 194, 177, 0.09) 35% 41%, #0000 42%)
    rgba(204, 227, 222, 0.63);
background-size: 64px 64px;
}
.tarjeta-content-rating{
    width: 70%;
    padding: 4% 12% 1% 8%;
}
.img-tarjeta-reting{
    width: 35%;
    height: 35%;
}
.rating-rating{
    width: 40%;
}
.texto-rating{
    margin: 1% 0;
}
ol li{
    font-size: 15px;
}
.list-span{
    font-size: 13px;
    margin: 8px;
    color: var(--secondary-text);
}
/*_____________________________ scrollbar _____________________________*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #cce3de44;
}
::-webkit-scrollbar-thumb {
    background: #a4c3b29d;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6b90809d;
}